@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --line-border-empty: #38338;
    --line-border-fill:#de3163;
    --dark-color:#1c2833;
    --light-grey-color:#ddd;
    --white-color:#fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "poppins",sans-serif;
    background: radial-gradient(
        circle,
        rgba(61,99,218,1) 0%,
        rgba(214,84,207,1) 0%,
        rgba(151,156,203,1) 100%
    );
}

.container{
    width: 500px;
    height: 680px;
    background-color: var(--white-color);
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 8px;
    position: relative;
}

.container h3{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--dark-color);
    font-size: 2rem;
}

.container form{
    width: 440px;
    position: absolute;
    top: 100px;
    left: 20px;
    font-family: inherit;
    transition: 0.5s ease-in;
}

form input{
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    border: 1px solid var(--light-grey-color);
    border-radius: 5px;
    background: transparent;
    font-family: inherit;
}

form input:focus{
    outline: none;
    border: 1px solid var(--dark-color);
}


form textarea{
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    border: 1px solid var(--light-grey-color);
    border-radius: 5px;
    background: transparent;
    font-family: inherit;
}

form textarea:focus{
    outline: none;
    border: 1px solid var(--dark-color);
}
.btn_box{
    width: 100%;
    margin: 40px auto;
    text-align: center;
}

form button{
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background-color: var(--line-border-fill);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: inherit;
    border-radius: 5px;
    color: var(--light-grey-color);
}

form button:active{
    transform: scale(0.98);
}


#form2{
    left: 500px;
}

#form3{
    left: 500px;
}

.progress_container{
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
    position: relative;

}

.progress_container::before{
    content: '';
    background-color: var(--light-grey-color);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 5px;
    width: 100%;
    z-index: 1;
}

.progress{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    height: 5px;
    width: 0%;
    z-index: 1;
    transition: 0.4s ease-in;
}

.circle{
    background-color: var(--light-grey-color);
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
    transition: 0.4s ease;
}


.circle .active{
    border-color: var(--line-border-empty);
    color: var(--white-color);
    background-color: var(--line-border-fill);
}